.Screen {
  width: 100vw;
  height: 100vh;
  display: flex;
  font-size: 25px;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}

.Screen .dashboard {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  width: 1000px;
  height: 340px;
  margin-bottom: 20px;
  align-content: space-evenly;
}

.item1 {
  width: 750px;
  height: 300px;
  margin: 10px 10px 10px 0px;
}

.item2 {
  width: 300px;
  height: 300px;
  margin: 10px 0px 10px 0px;
}

.overview {
  width: 1000px;
  height: 300px;
  margin-top: 30px;
  align-self: center;
}

.currentWalletsTable {
  border: solid wheat;
  height: 100%;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  overflow: scroll;
}

.wallet-data-header {
  display: flex;
  justify-content: center;
  /* align-content: space-evenly; */
}
.wallet-data-point {
  display: flex;
  justify-content: center;
  margin-block: 5px;
}

.currentWalletsContainer {
  width: 80vw;
  height: 40vh;
  display: flex;
  position: relative;
  top: 20vh;
  border: solid white;
  flex-direction: column;
  padding: 25px;
}

.currentWalletsContainerHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 10%;
  width: 100%;
}

.currentWalletsContainerHeader span {
  color: wheat;
}

::-webkit-scrollbar {
  display: none;
}

.disable-scroll {
  overflow: hidden;
}
