button:hover{
  cursor: pointer;
}

.App {
  text-align: center;
  transition-duration: 2s;
  transition-delay: 0.5s;
  opacity: 1;
  z-index: -1;

}


.App-header {
  /* background-color: #282c34; */
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  z-index: -1;

}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

.fade-in {
  animation-name: fade-in;
  animation-duration: 2s;
  animation-delay: 0.5s;
  opacity: 0;
  animation-fill-mode: forwards;
}
