.WordScreen{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.WordContainer{
    display: flex;
    position: relative;
    right: 24vw;
    width: 42.5vw;
    height: 75vh;
    flex-direction: column;
    /* background-color: white; */
}

.WordContainer button{
    text-decoration: none;
    width: 50px;
    margin-bottom: 10px;
}

.PageContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}
  
.PageContainer.hidden {
    transform: translateX(-100%);
    opacity: 0;
}

.PageContainer button{
    text-decoration: none;
    font-size: larger;
    background: none;
    border: none;
}