.WordScreen{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.WordContainer{
    display: flex;
    position: relative;
    right: 24vw;
    width: 42.5vw;
    height: 75vh;
    flex-direction: column;
    /* background-color: white; */
}

.WordContainer button{
    text-decoration: none;
    width: 50px;
    margin-bottom: 10px;
}