.sidebar .nav {
  font-family: "Poppins", sans-serif;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: auto;
  width: 160px;
  padding: 20px 20px;
  margin: 100px 24px 0px 24px;
}

li {
  height: 60px;
  width: 160px;
  margin-top: 10px;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.text {
  margin-left: 5px;
  margin-top: 2px;
  color: #c3e0e5;
  font-size: 20px;
}

a {
  display: flex;
  text-decoration: none;
}
