.Screen {
  width: 100vw;
  height: 100vh;
  display: flex;
  font-size: 25px;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  color: red;
  /* background-color: grey; */
}

.table {
  width: 1000px;
  height: auto;
}

.form {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100px;
}

.add-transaction-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 60px;
}
.add-transaction-button-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
